html { /*for footer*/
  position: relative;
  min-height: 100%;
}
body {
  background:#f5f5f5;
  font-size: 16px;
  font-family:"Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;
  font-weight: bold;
  margin-bottom: 50px; /*footer height*/
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #222;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: normal;
}
footer .container p {
  margin-top: 10px;
}
footer .container p a {
  color:#999;
  text-decoration: underline;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}
.navbar-inverse .navbar-brand {
  color:#f1f1f1;
}

#side {
  padding:0px;
}
#sidebar a {
  color: #000;
}
#sidebar.nav>li>a {
  padding: 12px 15px;
}
#sidebar>.active>a,
#sidebar>.active>a:hover,
#sidebar>.active>a:focus {
  color: #fff;
  background-color: #666666;
}
#sidebar>li>a:hover {
  color: #fff;
  background-color: #999999;
}

#main .ctrl {
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
}
#main #title {
  font-size: 20px;
  margin-top: 3px;
  display:inline-block;
}
#main #title,
#main #feed a {
  color: #183a57;
}
#main #feed a:visited {
  color:#83174A;
}
#main #feed .list-group-item {
  padding: 0px;
}
#main #feed .list-group-item a {
  padding: 15px 15px;
  display: block;
}
