@charset "UTF-8";

body {
  font-family: "meiryo", "Hiragino Kaku Gothic Pro W3", sans-serif;
  font-size: 16px;
  background-color:#efefef;
}
header {
  background-color:#000;
}
section {
  min-height:650px;
  padding-top:15px;
  padding-bottom:50px;
}

/* for overwiting bootstrap.*/
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}
.navbar-header {
  min-width: 100%;
}
.form-control {
  font-size: 16px;
}
.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}
.form-horizontal .form-group:last-child {
  margin-bottom: 0px;
}
.btn {
  font-size: 16px;
  border-radius: 0px;
}

/* app */
#brand {
  margin-top:5px;
  margin-bottom: 5px;
  text-align:center;
}

/* form */
#memo-form {
  background-color:#dcdcdc;
  padding: 20px 20px 15px 20px;
}
#memo-form #create-btn,
#modal #modal-update {
  background-color:#666;
  color:#fff;
}

.memo {
  margin-top: 10px;
  background-color:#fff;
  padding: 15px 20px 10px 20px;
}
.memo .txt p {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0 0 5px;
}
.memo .action .date {
  font-size: 14px;
}
.memo .action .btn {
  margin-left: 5px;
  background-color:#666;
  color:#fff;
}
